<h1>Log In Below:</h1>

<form action='/sessions' method='POST'>
  <label for='email'>E-mail:</label>
  <input id='email' type='text' name='email'><br>
  <label for='password'>Password:</label>
<<<<<<< HEAD
  <input id='password' type='password' name='password'><br>
  <input type='submit' name='submit' value='Log In'>
=======
  <input id='password' type='text' name='password'><br>
  <input type='submit' name='submit' value='login'>
>>>>>>> 7c6fe7c586e0d8b2afb9d2383bc79c0b389bff46
</form>
